[user]
	name = Andrés Butelman
	email = abutelman@brinqa.com
	signingKey = 9411A787046124D332408186B840FE69A2CB655E

[diff]
	tool = meld
[alias]
	unstage = reset HEAD --
	df = difftool -y
	dd = difftool -d
	co = checkout
	br = branch
	ci = commit
	st = status
	l = log --abbrev-commit --pretty=format:'%h [%an %ar] %s' 
	lf = log --abbrev-commit --stat --pretty=fuller 
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	graph=log --all --graph --decorate --oneline

[merge]
	tool = meld
[push]
	default = simple
[credential]
	helper = !aws --profile default codecommit credential-helper $@
	UseHttpPath = true
[core]
	autocrlf = input
	excludesfile = /home/andres/.gitignore_global
